<div class="section section-buttons" style="margin-top: 100px;">
    <div class="container" style="border: 1px solid #ccc;box-shadow: 3px 0px #ccc;
    min-height: 400px;width: 1000px;background-color: white;">

        <div class="row">
            <div class="col-sm-12" style="text-align: end;">
                <h2>Invoice</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group" style="height: 150px;">
                    <button type="button" class="btn btn-warning" style="width: 100%;height: 100%;text-align: left;"
                        data-bs-toggle="modal" data-bs-target="#inforModal">
                        {{ tmpInf ? tmpInf: "Your company details"}}
                    </button>
                </div>
                <div class="form-group" style="height: 150px;">
                    <button type="button" class="btn btn-warning" style="width: 100%;height: 100%;text-align: left;"
                        data-bs-toggle="modal" data-bs-target="#clientModal">

                        {{tmpClient ? tmpClient : "Your client details"}}
                    </button>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group" style="margin-top: 20px;
                    height: 60px;">
                    <input type="text" class="form-control" placeholder="Invoice number" (focus)="focus=true"
                        (blur)="focus=false" [(ngModel)]="data.invoiceNum">
                </div>
                <div class="form-group" style="
                    height: 60px;">
                    <div class="input-group date" [ngClass]="{'input-group-focus':focus===true}">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="data.dateCreated"
                            ngbDatepicker #d="ngbDatepicker" (click)="d.toggle();logs()" (focus)="focus=true"
                            (blur)="focus=false" />
                        <div class="input-group-append">
                            <span class="glyphicon glyphicon-calendar input-group-text">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="
                    height: 60px;">
                    <div class="input-group date" [ngClass]="{'input-group-focus':focus===true}">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp2" [(ngModel)]="data.dueDate"
                            ngbDatepicker #d2="ngbDatepicker" (click)="d2.toggle()" (focus)="focus=true"
                            (blur)="focus=false" />
                        <div class="input-group-append">
                            <span class="glyphicon glyphicon-calendar input-group-text">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h3>Description</h3>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <h3>Description of goods</h3>
            </div>
        </div>
        <div class="row" *ngFor="let good of data.goods; index as i">
            <div class="col-sm-4" style="margin-top: 10px;">
                <input type="text" class="form-control" placeholder="Item"
                    (focus)="focus=true" (blur)="focus=false" [(ngModel)]="good.item">
            </div>
            <div class="col-sm-4" style="margin-top: 10px;">
                <input type="text"  class="form-control"
                    placeholder="Description" (focus)="focus=true" (blur)="focus=false" [(ngModel)]="good.description">
            </div>
            <div class="col-sm-1" style="margin-top: 10px;">
                <input type="text" class="form-control" placeholder="Price"
                    (focus)="focus=true" (blur)="focus=false" [(ngModel)]="good.price">
            </div>
            <div class="col-sm-1" style="margin-top: 10px;">
                <input type="text"  class="form-control" placeholder="Qty"
                    (focus)="focus=true" (blur)="focus=false" [(ngModel)]="good.qty">
            </div>
            <div class="col-sm-1" style="margin-top: 10px;">
                <input type="text" class="form-control" placeholder="Total"
                    (focus)="focus=true" (blur)="focus=false" [(ngModel)]="good.total">
            </div>
            <div class="col-sm-1" style="margin-top: 10px;">
                <button type="button" name="button" class="close" (click)="deleteGood(i)">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        </div>
        <br>
        <div class="col-sm-6">
            <button type="button" class="btn btn-candidate btn-round" (click)="addGood()"> <i class="fa fa-plus"></i>Add
                good</button>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <h3>Description of services</h3>
            </div>
        </div>
        <div class="row" *ngFor="let services of data.services; index as i">
            <div class="col-sm-4" style="margin-top: 10px;">
                <input type="text" class="form-control" placeholder="Item" (focus)="focus=true" (blur)="focus=false"
                    [(ngModel)]="services.item">
            </div>
            <div class="col-sm-4" style="margin-top: 10px;">
                <input type="text" class="form-control" placeholder="Description" (focus)="focus=true"
                    (blur)="focus=false" [(ngModel)]="services.description">
            </div>
            <div class="col-sm-1" style="margin-top: 10px;">
                <input type="text" class="form-control" placeholder="Rate" (focus)="focus=true" (blur)="focus=false"
                    [(ngModel)]="services.rate">
            </div>
            <div class="col-sm-1" style="margin-top: 10px;">
                <input type="text" class="form-control" placeholder="Hours" (focus)="focus=true" (blur)="focus=false"
                    [(ngModel)]="services.hours">
            </div>
            <div class="col-sm-1" style="margin-top: 10px;">
                <input type="text" class="form-control" placeholder="Total" (focus)="focus=true" (blur)="focus=false"
                    [(ngModel)]="services.total">
            </div>
            <div class="col-sm-1" style="margin-top: 10px;">
                <button type="button" name="button" class="close" (click)="deleteService(i)">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        </div>
        <br>
        <div class="col-sm-6">
            <button type="button" class="btn btn-candidate btn-round" (click)="addService()"> <i
                    class="fa fa-plus"></i>Add services</button>
        </div>

        <hr>

        <div class="col-sm-6">
            <button type="button" class="btn btn-candidate btn-round" (click)="previewData()"
                printSectionId="print-section" ngxPrint>Preview</button>
        </div>

    </div>

</div>
<div id="print-section" style="visibility: hidden;position: fixed;">
    <app-preview-file [dataComany]="data" [dataInf]="inf" [dataClient]="client"></app-preview-file>
</div>


<!-- The Modal -->
<div class="modal" id="inforModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title" style="display: inline-block;">Add your information</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="first name" (focus)="focus=true"
                            (blur)="focus=false" [(ngModel)]="inf.firstName">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Last name" (focus)="focus=true"
                            (blur)="focus=false" [(ngModel)]="inf.lastName">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" placeholder="Email Address" (focus)="focus=true"
                            (blur)="focus=false" [(ngModel)]="inf.email">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" placeholder="Company Name" (focus)="focus=true"
                            (blur)="focus=false" [(ngModel)]="inf.companyName">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Registration number" (focus)="focus=true"
                            (blur)="focus=false" [(ngModel)]="inf.registrationNumber">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Website" (focus)="focus=true"
                            (blur)="focus=false" [(ngModel)]="inf.website">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" placeholder="Address" (focus)="focus=true"
                            (blur)="focus=false" [(ngModel)]="inf.address">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="Town / City" (focus)="focus=true"
                            (blur)="focus=false" [(ngModel)]="inf.city">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="State" (focus)="focus=true"
                            (blur)="focus=false" [(ngModel)]="inf.state">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="Zip / Postal Code" (focus)="focus=true"
                            (blur)="focus=false" [(ngModel)]="inf.postalCode">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" placeholder="Country" (focus)="focus=true"
                            (blur)="focus=false" [(ngModel)]="inf.country">
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="saveDataInf()" data-bs-dismiss="modal">Save &
                    Continue</button>
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="clientModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title" style="display: inline-block;">Add new Contact</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" placeholder="Company Name" (focus)="focus=true"
                            (blur)="focus=false" [(ngModel)]="client.companyName">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Registration number" (focus)="focus=true"
                            (blur)="focus=false" [(ngModel)]="client.registrationNumber">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Website" (focus)="focus=true"
                            (blur)="focus=false" [(ngModel)]="client.website">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" placeholder="Address" (focus)="focus=true"
                            (blur)="focus=false" [(ngModel)]="client.address">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="Town / City" (focus)="focus=true"
                            (blur)="focus=false" [(ngModel)]="client.city">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="State" (focus)="focus=true"
                            (blur)="focus=false" [(ngModel)]="client.state">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="Zip / Postal Code" (focus)="focus=true"
                            (blur)="focus=false" [(ngModel)]="client.postalCode">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" placeholder="Country" (focus)="focus=true"
                            (blur)="focus=false" [(ngModel)]="client.country">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Contact details</h4>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="first name" (focus)="focus=true"
                            (blur)="focus=false" [(ngModel)]="client.firstName">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Last name" (focus)="focus=true"
                            (blur)="focus=false" [(ngModel)]="client.lastName">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" placeholder="Email Address" (focus)="focus=true"
                            (blur)="focus=false" [(ngModel)]="client.email">
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="saveDataClient()" data-bs-dismiss="modal">Save &
                    Continue</button>
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- <div class="page">
    <div class="header">Angular sample</div>
    <div #viewer class="viewer"></div>
  </div> -->