<div class="section section-buttons" style="margin-top: 100px;">
    <div style="text-align: end;">
        <div>
            <h2>{{dataInf.companyName}}</h2>
        </div>
        <div>
            {{dataInf.address}} {{dataInf.city}} {{dataInf.state}}  {{dataInf.postalCode}} {{dataInf.country}}
        </div>
        <div>
            {{dataInf.registrationNumber}}
        </div>
        <div>
            {{dataInf.email}}
        </div>
        <div>
            {{dataInf.website}}
        </div>
    </div>
    <hr>
    <div style="text-align: left">
        <div>
            Invoice issued for:
        </div>
        <div>
            <h2> {{dataClient.firstName}} {{dataClient.lastName}}</h2>
        </div>
        <div>
            {{dataClient.address}} {{dataClient.city}} {{dataClient.state}}  {{dataClient.postalCode}} {{dataClient.country}}
        </div>
        <div>
            {{dataClient.registrationNumber}}
        </div>
        <div>
            {{dataClient.email}}
        </div>
        <div>
            {{dataClient.website}}
        </div>
    </div>
    <div style="text-align: end;position: relative;
    top: -90px;">
        <div>
            <h4> Invoice #: {{dataComany.invoiceNum}}</h4>
        </div>
        <div >
            Payment Date:   {{dataComany.dateCreated.day}}/{{dataComany.dateCreated.month}}/{{dataComany.dateCreated.year}}
        </div>
        <div>
            Invoice Date: {{dataComany.dueDate.day}}/{{dataComany.dueDate.month}}/{{dataComany.dueDate.year}}
        </div>
    </div>
    <table class="table" style="width:100%;" cellspacing="0">
        <tr style="border: 2px solid black;">
            <th style="border: 2px solid black;">#</th>
            <th style="border: 2px solid black;">Title</th>
            <th style="border: 2px solid black;">Description</th>
            <th style="border: 2px solid black;">Price</th>
            <th style="border: 2px solid black;">Quantity</th>
            <th style="border: 2px solid black;">Unit</th>
            <th style="border: 2px solid black;">Total </th>
        </tr>
        <tbody *ngIf="dataComany.goods && dataComany.goods.length > 0">
            <tr style="border: 2px solid black;" *ngFor="let goods of dataComany.goods; index as i">
                <td style="border: 2px solid black;">{{i + 1}}</td>
                <td style="border: 2px solid black;">{{goods.item}}</td>
                <td style="border: 2px solid black;">{{goods.description}}</td>
                <td style="border: 2px solid black;">{{goods.price}}</td>
                <td style="border: 2px solid black;">{{goods.qty}}</td>
                <td style="border: 2px solid black;">m2</td>
                <td style="border: 2px solid black;">{{goods.total}}</td>
            </tr>
        </tbody>
    </table>
    <div style="position: absolute;left: 50%;;width:50%;margin-top: 20px;">
        <hr>
    </div>

    <div style="text-align: end;margin-top: 150px;">
        <div>
            Total : {{sumTotal}} ALL
        </div>
        <div>
            VAT: 20 %
        </div>
        <div>
            SubTotal: {{totalVat}} ALL
        </div>
    </div>
    <div style="text-align: left;"><h2> Invoice Note</h2></div>
    <div style="text-align: left; width: 50%;">
        There are many variations of passages of Lorem Ipsum available, but the
        majority have suffered alteration in some form, by injected humour, or
        randomised words which don't look even slightly believable. If you are
        going to use a passage of Lorem Ipsum, you need to be sure there isn't
        anything embarrassing hidden in the middle of text. All the Lorem Ipsum
        generators on the Internet tend to repeat predefined chunks as necessary.</div>
</div>